.dropDown {
    text-align: left;
    margin-right: 2rem;

    &__form {
        position: relative;
    }
}

.dropDown1 .dropDown__form--searchBar, .dropDown1__btn--up {
    background: #3282F7;
}
.dropDown2 .dropDown__form--searchBar, .dropDown2__btn--up {   
    background: #68D9A4;
}
.dropDown3 .dropDown__form--searchBar,  .dropDown3__btn--up {
    background: #ED6454;
    
}
.dropDown__form--searchBar {
    width: 24rem;
    border-radius: 5px;
    height: 2rem;
    border: none;
}

.dropDown__btn--up {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    cursor: pointer;
    border: none;
}
