.dropdown {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    position: relative;
    width: 250px;
    min-width: 11rem;
    margin-right: 3rem;
    margin-top: 1rem;

    &__ingredient,
    &__ingredient &__list {
        background: #3282F7;
    }

    &__ingredient &__list li:hover,
    &__ingredient &__list li:focus
     {
        background: lighten($color: #3282F7, $amount: 10);
    }

    &__appliance,
    &__appliance &__list {
        background: #68D9A4;
    }

    &__appliance &__list li:hover,
    &__appliance &__list li:focus {
        background: lighten($color: #68D9A4, $amount: 10);
    }

    &__ustensils {
        background: #ED6454;
    }

    &__ustensils,
    &__ustensils &__list {
        background: #ED6454;
    }

    &__ustensils &__list li:hover,
    &__ustensils &__list li:focus {
        background: lighten($color: #ED6454, $amount: 10);
    }

    input {
        background: rgba(212, 63, 63, 0);
        border: none;
        color: #fff;
        font-size: 20px;
        width: 83%;
        text-align: left;
        margin-left: 1rem;
        margin-right: 3rem;


        &::placeholder {
            color: #fff;
        }
    }

    &__list {
        position: absolute;
        z-index: 10;
        top: 47px;
        margin-top: -3px;
        display: none;
        border-radius: 0 5px 5px 5px;

        & ul {
            width: 36rem;
            max-width: 60vw;
            min-width: 11rem;
            text-align: left;
            border-radius: 0 5px 5px 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        & li {
            display: flex;
            align-items: center;
            cursor: pointer;
            width: 11rem;
            padding: 0.4rem;
            height: 4rem;
            line-height: 1.5rem;
            &.selected-ingredient {
                background: lighten($color: #3282F7, $amount: 10);
            }
       
        }
      
    }

    // devrait fonctionner pour les autres dropdowns
    &.display {
        .dropdown__list {
            display: block;
        }
    }
}

.arrow {
    position: absolute;
    z-index: 100;
    right: 5px;
    transition: 0.3s;
    cursor: pointer;
    height: 100%;
    padding: 0px 10px;

    &__reverse {
        transform: rotateX(180deg);
    }
}