.tag {
    padding: 1rem;
    color: #ffff;
    margin: 1rem;
    border-radius: 5px;
    width: 8rem;
    text-transform: capitalize;
    cursor: pointer;
    &--ingredients {
        background: #3282F7;
    }
    &--appliance {
        background: #68D9A4;
    }
    &--ustensils {
        background: #ED6454;
    }
}

