.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__card {
        background: #E7E7E7;
        height: 364px;
        width: 380px;
        margin-top: 2rem;
        border-radius: 5px;
        position: relative;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        &--hidden {
            display: none;
        }
    }

    &__card--img {
        height: 178px;
        width: 380px;
        object-fit: cover;
        left: 0px;
        top: 0px;
        border-radius: 5px 5px 0px 0px;
        background: #C7BEBE;
    }
}

.recipe {
    display: flex;

    &__ingredients-list {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        height: 105px;
        width: 171px;
        position: absolute;
        left: 20px;
        top: 240px;  
    }

    &__instructions {
        height: 96px;
        width: 171px;
        position: absolute;
        left: 191px;
    }

}