body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #D04F4F;
}

.thumbnails__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.thumbnails__heading--timeToCook {
    display: flex;
}

.recipe__instructions {
    font-family: 'Roboto', sans-serif;
}