body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #D04F4F;
}

.search-bar ::placeholder {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
    opacity: 0.25;
}

.dropDown__form ::placeholder {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    opacity: 0.5;
}

.dropDown__btn {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;

}

.thumbnails__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    &--recipeTitle {
        display: flex;
        flex-wrap: wrap;
    }
}

.thumbnails__heading--timeToCook {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.recipe__instructions {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}