body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-family: DM Sans;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #D04F4F;
    
}

.thumbnails__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.thumbnails__heading--timeToCook {
    display: flex;
}