.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    margin: auto;
    width: 96vw;
    max-width: 1280px;
    max-height: 100vh;
    text-align: center;
}
.dropDownList-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.dropDownList-wrapper ul  {
    display: flex;
}