.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    margin: auto;
    width: 96vw;
    max-width: 1690px;
    // max-height: 100vh;
    text-align: center;
}

.tagsList {
    display: flex;
    flex-wrap: wrap;
}

.dropdown-container  {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 3rem;
}

main {
    width: 100%;
}

.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}