html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #D04F4F;
}

.search-bar ::placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
  opacity: 0.25;
}

.dropDown__form ::placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  opacity: 0.5;
}

.dropDown__btn {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.thumbnails__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
.thumbnails__heading--recipeTitle {
  display: flex;
  flex-wrap: wrap;
}

.thumbnails__heading--timeToCook {
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.recipe__instructions {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.thumbnails__heading--timeToCook img {
  margin-right: 0.5rem;
}

header {
  text-align: center;
  width: 99%;
  padding: 1rem;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  margin: auto;
  width: 96vw;
  max-width: 1690px;
  text-align: center;
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 72vw;
  margin-top: 3rem;
}

main {
  width: 100%;
}

.thumbnails-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dropdown {
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  position: relative;
  width: 250px;
  min-width: 11rem;
  margin-right: 3rem;
  margin-top: 1rem;
}
.dropdown__ingredient, .dropdown__ingredient .dropdown__list {
  background: #3282F7;
}
.dropdown__ingredient .dropdown__list li:hover, .dropdown__ingredient .dropdown__list li:focus {
  background: #63a0f9;
}
.dropdown__appliance, .dropdown__appliance .dropdown__list {
  background: #68D9A4;
}
.dropdown__appliance .dropdown__list li:hover, .dropdown__appliance .dropdown__list li:focus {
  background: #91e3bd;
}
.dropdown__ustensils {
  background: #ED6454;
}
.dropdown__ustensils, .dropdown__ustensils .dropdown__list {
  background: #ED6454;
}
.dropdown__ustensils .dropdown__list li:hover, .dropdown__ustensils .dropdown__list li:focus {
  background: #f28e82;
}
.dropdown input {
  background: rgba(212, 63, 63, 0);
  border: none;
  color: #fff;
  font-size: 20px;
  width: 83%;
  text-align: left;
  margin-left: 1rem;
  margin-right: 3rem;
}
.dropdown input::placeholder {
  color: #fff;
}
.dropdown__list {
  position: absolute;
  z-index: 10;
  top: 47px;
  margin-top: -3px;
  display: none;
  border-radius: 0 5px 5px 5px;
}
.dropdown__list ul {
  width: 36rem;
  max-width: 60vw;
  min-width: 11rem;
  text-align: left;
  border-radius: 0 5px 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dropdown__list li {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 11rem;
  padding: 0.4rem;
  height: 4rem;
  line-height: 1.5rem;
}
.dropdown__list li.selected-ingredient {
  background: #63a0f9;
}
.dropdown.display .dropdown__list {
  display: block;
}

.dropdown button {
  display: flex;
  align-items: center;
  border: none;
  position: absolute;
  right: 6px;
  height: 65%;
  padding: 0;
  border-radius: 5px;
  background-color: initial;
}

.dropdown button:focus {
  border-color: pink;
}

.arrow {
  transition: 0.3s;
  cursor: pointer;
  height: 100%;
  padding: 0px 10px;
}
.arrow__reverse {
  transform: rotateX(180deg);
}

.tag {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: #ffff;
  margin: 1rem;
  border-radius: 5px;
  width: 8rem;
  text-transform: capitalize;
  cursor: pointer;
}
.tag--ingredients {
  background: #3282F7;
}
.tag--appliance {
  background: #68D9A4;
}
.tag--ustensils {
  background: #ED6454;
}

.search-bar {
  margin-top: 1rem;
  position: relative;
  display: flex;
  width: 100%;
}
.search-bar__Field {
  width: 100%;
  position: relative;
  background-color: #E7E7E7;
  border-radius: 5px;
  border: none;
  height: 69px;
  padding: 2rem;
}
.search-bar svg {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  margin: 1rem;
  border: none;
  background-color: #E7E7E7;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.thumbnails__card {
  background: #E7E7E7;
  height: 364px;
  width: 380px;
  margin-top: 2rem;
  border-radius: 5px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.thumbnails__card--hidden {
  display: none;
}
.thumbnails__card--img {
  height: 178px;
  width: 380px;
  object-fit: cover;
  left: 0px;
  top: 0px;
  border-radius: 5px 5px 0px 0px;
  background: #C7BEBE;
}

.recipe {
  display: flex;
}
.recipe__ingredients-list {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  height: 105px;
  width: 171px;
  position: absolute;
  left: 20px;
  top: 240px;
}
.recipe__instructions {
  height: 96px;
  width: 171px;
  position: absolute;
  left: 191px;
}

.error-message {
  border: 2px solid #d04f4f;
  box-shadow: #d04f4f -1px 0px 1px 0px;
  padding: 1rem;
  margin: auto;
  border-radius: 5px;
}

.error-message--displayed {
  display: block;
}

.error-message--hidden {
  display: none;
}

.truncate-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 790px) {
  .thumbnails-list {
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
